services:
  periphery:
    container_name: komodo-periphery
    image: ghcr.io/moghtech/komodo-periphery:{{ komodo_version }}
    restart: unless-stopped
    user: "${UID}:${GID}"
    group_add:
      - "${DOCKER_GID}"
    labels:
      komodo.skip:
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - {{ komodo_update_project_directory }}/shared/keys:/config/keys
      - {{ komodo_update_root_directory }}:{{ komodo_update_root_directory }}
    networks:
      - internal

networks:
  internal:
    name: komodo-internal
    driver: bridge
