---
- name: Allow user to have passwordless sudo via sudoers.d
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ user }}"
    content: "{{ user }} ALL=(ALL) NOPASSWD: ALL\n"
    owner: root
    group: root
    mode: "0440"
    validate: "visudo -cf %s"
